body{
  background-color: white;
  .page-title{
    padding-top: 100px;
    height: 250px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    line-height:150px;
    letter-spacing: 0.5em;
  }
}