.footer{
  height: 150px;
  width: 100%;
  background-color: black;
  text-align: center;
  &__top{
    height: 75px;
    &--ul{
      display: flex;
      justify-content: center;
      li{
        margin-top: 40px;
        a{
          font-size: 80px;
          line-height: 35px;
          color: white;
          text-decoration: none;
          transition: 0.4s;
          &:hover{
            color: $okutama_head;
          }
        }
      }
    }
  }
  &__bottom{
    color: white;
    font-size: 12px;
    line-height: 35px;
    margin-bottom: 40px;
  }
}