.main{
  padding: 30px;
  &__title{
    text-align: center;
    font-size: 32px;
    color: $okutama_main;
  }
  &__text{
    padding: 30px 100px;
    font-size: 20px;
    line-height: 3em;
  }
  &__images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &--image1{
      &:after{
        content: "PHILOSOPHY";
      }
    }
    &--image2{
      &:after{
        content: "MENU";
      }
    }
    &--image3{
      &:after{
        content: "GALLERY";
      }
    }
    &--image4{
      &:after{
        content: "RESERVATION";
      }
    }
    &--image1, &--image2, &--image3, &--image4{
      position: relative;
      width: 40%;
      height: calc((100vw - 60px) * 0.4);
      margin: 5%;
      background-color: black;
      overflow: hidden;
      &:hover{
        cursor: pointer;
      }
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 40px;
        font-weight: bold;
        height: 60px;
        color: white;
        text-decoration: none;
        letter-spacing: 0.3em;
        text-indent: 0.3em;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
      a{
        display: block;
        height: 100%;
        width: 100%;
        .image1, .image2, .image3, .image4{
          height: 100%;
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          transition: 0.8s;
          &:hover{
            transform: scale(1.1);
            opacity: 0.6;
          }
        }
        .image1{
          background-image: url('facade.png');
        }
        .image2{
          background-image: url('science.png');
        }
        .image3{
          background-image: url('science.png');
        }
        .image4{
          background-image: url('facade.png');
        }
      }
    }
  }
}